*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ----FONTS---- */
  --font-base: ; /* Fonts para la página general */
  --font-header: ; /* Fuente para los headers */

  /* ----SIZE FONT---- */
  --size-font-3xs: 0.625rem; /* 10px */
  --size-font-2xs: 0.75rem; /* 12px */
  --size-font-xs: 0.875rem; /* 14px */
  --size-font-sm: 1rem; /* 16px */
  --size-font-md: 1.125rem; /* 18px */
  --size-font-lg: 1.25rem; /* 20px */
  --size-font-xl: 1.5rem; /* 24px */
  --size-font-2xl: 1.75rem; /* 28px */
  --size-font-3xl: 2rem; /* 32px */

  /* ----WEIGHT FONT---- */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* ----SPACING---- */

  --spacing-3xs: 0.25rem; /* 4px  */
  --spacing-2xs: 0.5rem; /* 8px  */
  --spacing-xs: 0.75rem; /* 12px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-2xl: 4rem; /* 64px */
  --spacing-3xl: 6rem; /* 96px */

  /* ----COLORS---- */

  --color-text-primay: #662600;
  --color-text-secondary: #fffada;

  --color-brand: #7a5b30;
  --color-brand-border: #c49a6a;
  --color-brand-button: #f5f5f5;

  /* ----Info de background: GRADIENT---- 
     3 colores:  color 1: #693A00; - 92%
                color 2: #B87B33; - 85%
                color 3: #EDD2B4; - 100%
    */
}

.header {
  position: fixed;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--spacing-sm);
}

.nav__logo {
  height: 40px;
  text-decoration: none;
  color: var(--color-brand);
  -webkit-text-stroke: 1px #C49A6A;
  font-weight: 800;
  font-size: var(--spacing-md);
}

.nav__toggle {
  background: none;
  border: none;
  font-size: var(--size-font-3xl);
  cursor: pointer;
  color: var(--color-brand-border);
  margin: 1px;
  background-color: #e0c6a1;
  border-radius: 3px;
}

.nav__menu {
  display: none;
  flex-direction: column;
  gap: var(--space-md);
  background: #D6b388;
  position: absolute;
  top: 100%;
  right: 0;
  padding: var(--spacing-md);
  box-shadow: var(--shadow-md);
}

.nav__menu--show {
  display: flex;
}

.nav__link {
  color: var(--color-text-primay);
  font-size: var(--size-font-lg);
  text-decoration: none;
}

.second-nav__link {
  color: var(--color-brand-button);
  font-size: var(--size-font-lg);
  text-decoration: none;
}

.nav__link:hover,
.second-nav__link:hover {
  color: var(--color-brand);
}
